body {
    background-image: url('/Users/toddnorton/Downloads/office.jpeg');
    background-size: cover;
    width: 100%;
    height: fit-content auto;
    margin: 0 auto;
}

.header {
    background-color: black  ;
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    color: white
}

.header-wording {
    color: white;
    font-family: Nunito,sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.header-wording-right {
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-family: Nunito,sans-serif;
    color: white;
}

.menu-items {
    font-size: ;
    justify-content: right;
}

.main-content {
    height: 100vh;
    width: 100vh;
    margin: 0 auto;
}

.footer {
    background-color:#2aabe2;
    height: 10vh;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    font-size: larger;
    font-family: Nunito,sans-serif;
    color: white;
}

ul {
    min-width: 20vw;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
}

.menu-font {
    font-style: bold;
    color: white;
    background-color: purple;
}

.u {
    
}